{{- if .IsHome }}
{{- $schema := dict
  "@context" "https://schema.org"
  "@graph" (slice
    (dict
      "@type" "WebSite"
      "name" site.Title
      "url" site.BaseURL
    )
    (dict
      "@type" (site.Params.schema.publisherType | default "Person" | title)
      "name" site.Title
      "url" site.BaseURL
      "description" (site.Params.description | default "")
      "sameAs" (site.Params.schema.sameAs | default slice)
    )
  )
-}}
<script type="application/ld+json">{{ $schema | jsonify }}</script>
{{- else }}
{{- $desc := cond (ne .Description "") .Description (site.Params.description | default "") -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "WebPage"
  "name" .Title
  "description" $desc
  "url" .Permalink
  "isPartOf" (dict
    "@type" "WebSite"
    "name" site.Title
    "url" site.BaseURL
  )
-}}
<script type="application/ld+json">{{ $schema | jsonify }}</script>
{{- end }}
